*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue-500: hsl(215, 51%, 70%);
  --cyan-400: hsl(178, 100%, 50%);
  --blue-950: hsl(217, 54%, 11%);
  --blue-900: hsl(216, 50%, 16%);
  --blue-800: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 80%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-950);
  font-family: "Outfit", sans-serif;
  font-size: 1.125rem;
  height: 100vh;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-900);
  max-width: 23.4375rem;
  width: 100%;
  max-height: 41.6875rem;
  margin: 4rem 0.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  gap: 1.2rem;
}

.card__img--wrapper {
  position: relative;
  display: block;
  cursor: pointer;
}

.card__img--wrapper img {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
}

.card__img--wrapper .overlay {
  position: absolute;
  inset: 0;
  background-color: var(--cyan-400);
  opacity: 0;
  border-radius: 0.5rem;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__img--wrapper:hover .overlay {
  opacity: 0.5;
}

.overlay .icon-eye {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--white);
  mask: url("icon-view.svg") no-repeat center;
  -webkit-mask: url("icon-view.svg") no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
}

.card h1 a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}

.card__description {
  color: var(--blue-800);
  font-size: 1.1rem;
  font-weight: 300;
}

.card__info-group {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.card__price {
  color: var(--cyan-400);
  font-weight: 600;
}

.card__price::before {
  position: relative;
  content: url("icon-ethereum.svg");
  padding-right: 0.5rem;
  top: 0.2rem;
}

.card__time {
  color: var(--blue-800);
}

.card__time::before {
  position: relative;
  content: url("icon-clock.svg");
  padding-right: 0.5rem;
  top: 0.15rem;
}

.card hr {
  border: 0.01px solid var(--grey);
  opacity: 0.2;
}

.card__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__author img {
  width: 2rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.card__author-text {
  font-size: 1rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  flex-wrap: wrap;
}

.card__author-text span {
  color: var(--blue-800);
  font-weight: 300;
  padding-right: 0.5rem;
}

.card__author-text a {
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
}

.card__author-text a:hover {
  color: var(--cyan-400);
}

a:hover,
h1 a:hover {
  color: var(--cyan-400);
}